*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ecf0ecf3;
  font-family: sans-serif;
  outline: none;
  justify-content: space-evenly;
  align-items: center;
  
}
.container{
  height:100vh;
  display: flex;
  position: relative;
}
.calculator{
  margin-left: 15px;
  background-color: #ecf0ecf3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff,
                     5px 5px 12px rgba(0,0,0,.16);
  display:grid;
  grid-template-columns: repeat(4,70px);
}
input{
  grid-column: span 4;
  height: 9vh;
  background-color: #ecf0ecf3;
  box-shadow: inset 5px 5px 12px #ffffff,
                     5px 5px 12px rgba(0,0,0,.16);
  border: none;
  border-radius: 20px;
  color: rgb(70, 70, 70);
  font-size: 40px;
  text-align: end;
  margin: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;                  
}
button{
  height: 48px;
  width: 48px;
  background-color: #ecf0ecf3;
  box-shadow: inset 5px 5px 12px #ffffff,
              5px 5px 12px rgba(0,0,0,.16);
  margin: 6px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
.equal{
  width: 118px;
  background-color: #ecf0ecf3;
  box-shadow: inset 5px 5px 12px #ffffff,
  5px 5px 12px rgba(0,0,0,.16);
}

h1{
  text-align: center;
  margin-top: 40px;
  text-shadow: 5px 5px 12px rgba(0,0,0,1);
}
.des{
  border-radius: 5px;
  height: 60vh;
  width: 60%;
  margin-left: 55px;
  background-color: #ecf0ecf3;
  padding: 20px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff,
                     5px 5px 12px rgba(0,0,0,.16);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;    
  border-width: 4px;
  text-align: justify;
  }
  
  
 @media screen and (max-width:700px){

    .des{
      width: 60%;
      display: block;
      margin: 17px;
      margin-left: 60px;

    }
    .container{
      display: block;
      width: 95%;
  
      
    }
    .calculator{
      margin-left: 60px;
      width: 60%;
      position: relative;
      
    }
    h1{
      margin-bottom: 30px;
      width: 80%;
      display: inline-block;
      margin-left: 40px;
    }
  }

  

